*,
*::before,
*::after {
    margin: 0; // Elimina el margen predeterminado en todos los elementos
    padding: 0; // Elimina el relleno predeterminado en todos los elementos
    box-sizing: border-box; // Cambia el modelo de caja para incluir el borde y el relleno en el tamaño total del elemento
}