// Colores
$primary-color: #3498db; // Azul, color principal
$secondary-color: #2ecc71; // Verde, color secundario
$accent-color: #e74c3c; // Rojo o un tercer color de acento
$text-color: #333; // Color principal del texto
$background-color: #f4f4f4; // Color de fondo general de la página

// Tipografía
$font-family: 'Arial', sans-serif; // Fuente principal del sitio
$base-font-size: 16px; // Tamaño base de fuente, en píxeles

// Espaciado
$spacing-unit: 10px; // Unidad de espaciado, usada para márgenes y rellenos en los elementos

// Otros
$border-radius: 5px; // Radio de borde para esquinas redondeadas en botones y otros elementos
